# PostgreSQL
POSTGRES_DB=dataplatform
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_HOST_PORT=5432

# Role passwords
ETL_WRITER_PASSWORD=password123
BI_READER_PASSWORD=password123

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=password123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Airflow
AIRFLOW__CORE__FERNET_KEY=your-fernet-key-here
AIRFLOW__WEBSERVER__SECRET_KEY=your-secret-key-here
AIRFLOW_ADMIN_PASSWORD=password123
AIRFLOW_HOST_PORT=8080

# Metabase
METABASE_HOST_PORT=3000

