# PostgreSQL
POSTGRES_DB=dataplatform
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme

# Role passwords
ETL_WRITER_PASSWORD=changeme
BI_READER_PASSWORD=changeme

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme123

# Airflow
AIRFLOW__CORE__FERNET_KEY=your-fernet-key-here
AIRFLOW__WEBSERVER__SECRET_KEY=your-secret-key-here
AIRFLOW_ADMIN_PASSWORD=changeme

# Airflow DB (uses same Postgres instance, different database)
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:changeme@postgres:5432/airflow
