# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Docker volumes
postgres_data/
minio_data/
airflow_logs/

# Metabase
metabase/metabase.db/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
